/**
 * @name         Tranquil
 * @description  Phoenix Theme Bundle: Primarily dark theme that's easy on the eyes [Also supports light theme which is less easy on the eyes]
 * @author       MonsterDev
 * @version      1.5
 * @donate       https://goo.gl/9S8VGb
 * @source       https://github.com/monstrousdev/themes/theme-files/Tranquil.theme.css
 * @invite       TeRQEPb
 * @authorId     402272736665272320
 */

/* IMPORT CSS FROM GITHUB */
@import "https://monstrousdev.github.io/themes/phoenix-bundle/tranquil.css";
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!

Registered: Black Box Theme

---------------------------------------------------------------------------------------------------------------------------------------------
===== CUSTOMIZABLE COLORS =====
*/
:root {
  --roundness: 0px;
  --main-color: #d000ff;
  --hover-color: #ff00ff;
  --home-color: #eee;
  --shadow: rgba(0, 0, 0, 0.4);
}

#app-mount
  div.avatarPositionPremiumBanner-2nq2Fy
  .wrapper-1VLyxH[style*="height: 80px"]
  rect[mask*="svg-mask-status"],
#app-mount
  div.avatarPositionPremiumBanner-2nq2Fy
  .wrapper-1VLyxH[style*="height: 80px"]
  foreignobject
  + svg
  rect
  #app-mount
  div.avatarPositionPremiumNoBanner-nWzERs
  .wrapper-1VLyxH[style*="height: 80px"]
  rect[mask*="svg-mask-status"],
#app-mount
  div.avatarPositionPremiumNoBanner-nWzERs
  .wrapper-1VLyxH[style*="height: 80px"]
  foreignobject
  + svg
  rect {
  height: 16px !important;
  width: 16px !important;
}

.userProfileOuterThemed-3EfHmv.userPopoutOuter-3AVBmJ,
.userProfileOuterThemed-3EfHmv.userProfileOuter-1K_BYU {
  padding: 0px;
}
[style*="opacity: 0.45;"] {
  display: none;
}

[role="list"] > div {
  background-color: transparent;
}

#app-mount .wrapper-1VLyxH[style*="height: 120px"] rect[mask*="svg-mask-status"],
#app-mount .wrapper-1VLyxH[style*="height: 120px"] foreignobject + svg rect {
  height: 24px !important;
  width: 24px !important;
}

.chatContent-3KubbW {
    background-color: var(--primary-color);
}
.thin-31rlnD {
    background-color: var(--primary-color);
}

/*
---------------------------------------------------------------------------------------------------------------------------------------------
TROUBLESHOOTING: IF YOU NEED ANY HELP GO TO https://discord.gg/TeRQEPb
---------------------------------------------------------------------------------------------------------------------------------------------
*/
