/**
 * @name         Tranquil
 * @description  Phoenix Theme Bundle: Primarily dark theme that's easy on the eyes [Also supports light theme which is less easy on the eyes]
 * @author       MonsterDev
 * @version      1.5
 * @donate       https://goo.gl/9S8VGb
 * @source       https://github.com/monstrousdev/themes/theme-files/Tranquil.theme.css
 * @invite       TeRQEPb
 * @authorId     402272736665272320
 */

/* IMPORT CSS FROM GITHUB */
@import "https://monstrousdev.github.io/themes/phoenix-bundle/tranquil.css";
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!

Registered: Black Box Theme

---------------------------------------------------------------------------------------------------------------------------------------------
===== CUSTOMIZABLE COLORS =====
*/
:root {
  --roundness: 0px;
  --main-color: #d000ff;
  --hover-color: #ff00ff;
  --home-color: #eee;
  --shadow: rgba(0, 0, 0, 0.4);
}

#app-mount
  div.avatarPositionPremiumBanner-2nq2Fy
  .wrapper-3Un6-K[style*="height: 80px"]
  rect[mask*="svg-mask-status"],
#app-mount
  div.avatarPositionPremiumBanner-2nq2Fy
  .wrapper-3Un6-K[style*="height: 80px"]
  foreignobject
  + svg
  rect
  #app-mount
  div.avatarPositionPremiumNoBanner-nWzERs
  .wrapper-3Un6-K[style*="height: 80px"]
  rect[mask*="svg-mask-status"],
#app-mount
  div.avatarPositionPremiumNoBanner-nWzERs
  .wrapper-3Un6-K[style*="height: 80px"]
  foreignobject
  + svg
  rect {
  height: 16px !important;
  width: 16px !important;
}

.userProfileOuterThemed-3EfHmv.userPopoutOuter-3AVBmJ,
.userProfileOuterThemed-3EfHmv.userProfileOuter-1K_BYU {
  padding: 0px;
}
[style*="opacity: 0.45;"] {
  display: none;
}

[role="list"] > div {
  background-color: transparent;
}

#app-mount .wrapper-3Un6-K[style*="height: 120px"] rect[mask*="svg-mask-status"],
#app-mount .wrapper-3Un6-K[style*="height: 120px"] foreignobject + svg rect {
  height: 24px !important;
  width: 24px !important;
}

/* Server Chat and Voice Channels */
.container-1NXEtd {
  background-color: transparent !important;
}

/* Chat background */
.chatContent-3KubbW {
  background-color: transparent !important;
}

/* Direct Messages */
.thin-31rlnD {
  background-color: transparent !important;
}

/* Chat/Writing Bubble */
.scrollableContainer-15eg7h {
  background-color: transparent !important;
}

/* Activity Pannel */
.activityPanel-9icbyU {
  background-color: transparent !important;
}

/* Stream Preview */
.streamPreview-I7itZ6 {
  background-color: var(--primary-color) !important;
}

/*Server Role/People */
.layout-1qmrhw {
  background-color: var(--primary-color) !important;
}

/* Chat Name Activity */
.popoutHeaderContainer-26vKmr {
  background-color: var(--primary-color) !important;
}

/* Chat Activity Background Colour */
.activity-1DK9Xa {
  background-color: var(--primary-color) !important;
}
.translate-PeW1wK {
  background-color: var(--primary-color) !important;
}

/* Folder Background */
#app-mount .expandedFolderBackground-1kSAf6 {
  background-color: transparent !important;
}

#app-mount .expandedFolderBackground-1kSAf6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-color) !important;
  opacity: 0.2;
  transition: all 200ms ease-in-out;
}

#app-mount .expandedFolderBackground-1kSAf6.collapsed-2ZrjoL::before {
  background-color: transparent !important;
}

/* Button Icons */
.link-39sEB3[href="/channels/@me"] .avatar-1HDIsL svg {
  color: inherit !important;
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/home-tabs/friends.svg) center/100%
    no-repeat !important;
}

.link-39sEB3[href="/store"] .avatar-1HDIsL svg {
  color: inherit !important;
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/home-tabs/nitro.svg) center/100%
    no-repeat !important;
}

.link-39sEB3[href="/library"] .avatar-1HDIsL svg {
  color: inherit !important;
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/home-tabs/library.svg) center/100%
    no-repeat !important;
}

.link-39sEB3[href="/channels/@me"] .avatar-1HDIsL svg {
  color: inherit !important;
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/home-tabs/friends.svg) center/100%
    no-repeat !important;
}

.tutorialContainer-1pL9QS > .listItem-3SmSlK .wrapper-2PSQCG svg {
  background-color: var(--home-color);
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/svgs/home.svg);
  -webkit-mask-size: var(--home-size);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.tutorialContainer-1pL9QS > .listItem-3SmSlK .wrapper-2PSQCG svg defs,
.tutorialContainer-1pL9QS > .listItem-3SmSlK .wrapper-2PSQCG svg g {
  display: none !important;
}

.base-2jDfDU {
  border-radius: 0 !important;
}

.guilds-2JjMmN {
  border-radius: 0 !important;
}

#app-mount .wrapper-2PSQCG .childWrapper-1j_1ub {
  background-color: transparent !important;
}

/* Guild Icons */
#app-mount
  .guilds-2JjMmN
  .scroller-3X7KbA
  > .listItem-3SmSlK:first-child
  .wrapper-2PSQCG
  .svg-2zuE5p {
  height: 100% !important;
  width: 100% !important;
}

.tutorialContainer-1pL9QS > .listItem-3SmSlK .wrapper-2PSQCG svg {
  -webkit-mask-position: center !important;
}

#app-mount .tutorialContainer-1pL9QS > .listItem-3SmSlK .wrapper-2PSQCG svg path {
  display: none !important;
}

#app-mount div:not(.wrapper-z5ab_q) .wrapper-2PSQCG {
  border-radius: var(--roundness) !important;
}
#app-mount .wrapper-z5ab_q .wrapper-2PSQCG {
  border-radius: calc(var(--roundness) / 5) !important;
}

/* 5.d. Channels */
.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1gYQeQ,
.containerDefault-YUSmu3:hover .content-1gYQeQ {
  background-color: transparent !important;
}

.containerDefault-YUSmu3,
.content-1gYQeQ {
  border-left: 2px solid transparent !important;
  border-radius: 0;
}

.content-yjf30S > .containerDefault-YUSmu3.selected-2TbFuo,
.container-1Bj0eq .containerDefault-YUSmu3.selected-2TbFuo .content-1gYQeQ {
  background-color: var(--quaternary-color) !important;
  border-left-color: var(--main-color) !important;
}

.content-yjf30S > .containerDefault-YUSmu3:hover,
.container-1Bj0eq .containerDefault-YUSmu3 .content-1gYQeQ:hover {
  background-color: var(--secondary-color) !important;
  border-left-color: var(--hover-color) !important;
}

/* 11.b. Status */
.mask-1y0tyc {
  contain: none;
}
.wrapper-3Un6-K foreignObject + rect[mask*="svg-mask-status"],
.wrapper-3Un6-K[class*="avatar"] foreignObject + rect[y="22"] {
  x: -0.5 !important;
  y: -0.5 !important;
  rx: var(--roundness) !important;
  mask: none !important;
  -webkit-mask: none !important;
  fill-opacity: -0.1 !important;
  stroke-width: 2px;
  transition: stroke 200ms ease-in-out;
}

.wrapper-3Un6-K foreignObject + svg + rect[mask*="svg-mask-status"],
.wrapper-3Un6-K[class*="avatar"] foreignObject + svg + rect[y="22"] {
  opacity: 0;
}

#app-mount .wrapper-3Un6-K foreignObject + svg rect {
  position: absolute;
  height: 32px !important;
  width: 32px !important;
  top: 0;
  left: 0;
  mask: none !important;
  transform: translate(-14.5px, -17px);
  fill-opacity: 0;
  stroke-width: 2px;
  rx: var(--roundness) !important;
  transition: stroke 200ms ease-in-out;
}

#app-mount .wrapper-3Un6-K[style*="height: 24px"] rect[mask*="svg-mask-status"] {
  height: 24px !important;
  width: 24px !important;
}

#app-mount .wrapper-3Un6-K[style*="height: 32px"] rect[mask*="svg-mask-status"],
#app-mount .wrapper-3Un6-K[style*="height: 32px"] rect[y="22"] {
  height: 32px !important;
  width: 32px !important;
}

#app-mount .wrapper-3Un6-K[style*="height: 40px"] rect[mask*="svg-mask-status"],
#app-mount .wrapper-3Un6-K[style*="height: 40px"] rect[y="28"] {
  height: 40px !important;
  width: 40px !important;
}

#app-mount .wrapper-3Un6-K[style*="height: 80px"] rect[mask*="svg-mask-status"],
#app-mount .wrapper-3Un6-K[style*="height: 80px"] foreignObject + svg rect {
  height: 80px !important;
  width: 80px !important;
}

#app-mount .wrapper-3Un6-K[style*="height: 80px"] foreignObject + svg rect:not([x*="60"]) {
  transform: translate(-48px, -51px);
}

rect[fill="#43b581"] + .dots-1k2MxY {
  color: var(--online);
}

.wrapper-3Un6-K rect[mask*="svg-mask-status"][fill*="#43b581"],
.wrapper-3Un6-K rect[mask*="svg-mask-status"][mask*="online"],
.wrapper-3Un6-K foreignObject + svg rect[fill="rgba(67, 181, 129, 1)"],
.wrapper-3Un6-K foreignObject + svg rect[fill="#43b581"],
.wrapper-3Un6-K rect[mask*="svg-mask-status"][fill*="hsl(139"] {
  -webkit-text-stroke-color: var(--online);
  stroke: var(--online);
}

rect[fill="#f04747"] + .dots-1k2MxY {
  color: var(--dnd);
}

.wrapper-3Un6-K rect[mask*="svg-mask-status"][fill*="#f04747"],
.wrapper-3Un6-K rect[mask*="svg-mask-status"][mask*="dnd"],
.wrapper-3Un6-K foreignObject + svg rect[fill="rgba(240, 71, 71, 1)"],
.wrapper-3Un6-K foreignObject + svg rect[fill="#f04747"],
.wrapper-3Un6-K rect[mask*="svg-mask-status"][fill*="hsl(359"] {
  -webkit-text-stroke-color: var(--dnd);
  stroke: var(--dnd);
}

rect[fill="#faa61a"] + .dots-1k2MxY {
  color: var(--idle);
}

.wrapper-3Un6-K rect[mask*="svg-mask-status"][fill*="#faa61a"],
.wrapper-3Un6-K rect[mask*="svg-mask-status"][mask*="idle"],
.wrapper-3Un6-K foreignObject + svg rect[fill="rgba(250, 166, 26, 1)"],
.wrapper-3Un6-K foreignObject + svg rect[fill="#faa61a"],
.wrapper-3Un6-K rect[mask*="svg-mask-status"][fill*="hsl(38"] {
  -webkit-text-stroke-color: var(--idle);
  stroke: var(--idle);
}

rect[fill="#593695"] + .dots-1k2MxY {
  color: var(--streaming);
}

.wrapper-3Un6-K rect[mask*="svg-mask-status"][fill*="#593695"],
.wrapper-3Un6-K rect[mask*="svg-mask-status"][mask*="streaming"],
.wrapper-3Un6-K foreignObject + svg rect[fill="rgba(89, 54, 149, 1)"],
.wrapper-3Un6-K foreignObject + svg rect[fill="#593695"] {
  -webkit-text-stroke-color: var(--streaming);
  stroke: var(--streaming);
}

.wrapper-3Un6-K[class*="avatar"] rect:not([mask*="svg-mask-status"])[y="22"][fill="transparent"] {
  -webkit-text-stroke-color: var(--offline);
  stroke: var(--offline);
}

rect[fill="#747f8d"] + .dots-1k2MxY {
  color: var(--offline);
}

.wrapper-3Un6-K rect[mask*="svg-mask-status"][fill*="#747f8d"],
.wrapper-3Un6-K rect[mask*="svg-mask-status"][mask*="invisible"],
.wrapper-3Un6-K foreignObject + svg rect[fill="rgba(116, 127, 141, 1)"],
.wrapper-3Un6-K foreignObject + svg rect[fill="#747f8d"] {
  stroke: var(--offline);
  -webkit-text-stroke-color: var(--offline);
}

/* 11.c. Typing */
#app-mount .wrapper-3Un6-K[style*="height: 32px"] foreignObject + svg + rect[width="25"] {
  fill: rgba(0, 0, 0, 0.5);
  x: 0 !important;
  y: 0 !important;
  rx: var(--roundness);
  height: 32px;
  width: 32px;
  opacity: 1;
  transition: fill 500ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.avatarUploaderInner-yEhTv5 {
  background-color: var(--main-color);
}

.wrapper-3Un6-K foreignObject + svg rect + svg.dots-1k2MxY g {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-11.5px, -10px);
}

.wrapper-3Un6-K foreignObject + svg rect[fill="rgba(67, 181, 129, 1)"] + svg.dots-1k2MxY g circle {
  fill: var(--online) !important;
}

.wrapper-3Un6-K foreignObject + svg rect[fill="rgba(240, 71, 71, 1)"] + svg.dots-1k2MxY g circle {
  fill: var(--dnd) !important;
}

.wrapper-3Un6-K foreignObject + svg rect[fill="rgba(250, 166, 26, 1)"] + svg.dots-1k2MxY g circle {
  fill: var(--idle) !important;
}

.wrapper-3Un6-K foreignObject + svg rect[fill="rgba(89, 54, 149, 1)"] + svg.dots-1k2MxY g circle {
  fill: var(--streaming) !important;
}

/*
---------------------------------------------------------------------------------------------------------------------------------------------
TROUBLESHOOTING: IF YOU NEED ANY HELP GO TO https://discord.gg/TeRQEPb
---------------------------------------------------------------------------------------------------------------------------------------------
*/
